<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
<div >

  </div>
  <div class="mb-3 flex justify-content-center flex-wrap">
    <button class="m-2"  mat-flat-button color="warn"(click)="goBack()">Return</button>
    <button class="m-2" mat-flat-button color="primary" (click)="goToHealthSection()">Healt</button>
    <button class="m-2" mat-flat-button color="accent" (click)="goToHealthSection()">Nutrients</button>
  </div>
<div *ngIf="product; else divLoading" class="grid">

  <mat-card class="col-6 md:col-6 lg:col-4 xl:col-6">
    <div class="image_box">
      <img [src]="product.image_front_url" />
    </div>
  </mat-card>

  <mat-card class="col-fixed md:col-6 lg:col-4 xl:col-6">
    <mat-card-header>
      <mat-card-title>
        {{product.product_name}} -
        {{product.brands}} - {{product.quantity}}
      </mat-card-title>
      <mat-card-subtitle>Barcode:{{product.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <p><strong>Common name:</strong> {{product.product_name}}</p>
      <p><strong>Brands:</strong> {{product.brands}}</p>
      <p><strong>Quantity:</strong> {{product.quantity}}</p>
      <p><strong>Packaging:</strong>
        {{ formatPackagingTags(product.packaging_tags) }}</p>
      <p><strong>Categories:</strong>
        {{ formatCategories(product.categories_hierarchy) }}</p>
      <p *ngIf="product.origin"><strong>Origen:</strong> {{product.origin}}</p>
      <p><strong>Link to the product page: </strong> {{product.link}}</p>
      <p><strong>Stores:</strong>{{product.stores}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card id="healthSection" class="col mt-2">
    <mat-card-header>
      <mat-card-title>
        Healt
      </mat-card-title>
    </mat-card-header>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>search_check</mat-icon> Ingredients
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container
          *ngIf="product.ingredients_text_en; else baseTextTemplate">
          <p>{{ product.ingredients_text_en }}</p>
        </ng-container>
        <ng-template #baseTextTemplate>
          <p><strong>Original language: </strong>{{ product.ingredients_text
            }}</p>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card>

  <mat-card *ngIf="product.image_ingredients_url" class="col-fixed mt-2">
    <img [src]="product.image_ingredients_url" />

  </mat-card>

  <mat-accordion id="nutrionalSection" class="col-12 mt-2">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>balance</mat-icon>Nutrional Facts
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
          <td mat-cell *matCellDef="let nutrient"> {{ nutrient.label }} </td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef> Unidad </th>
          <td mat-cell *matCellDef="let nutrient"> {{ nutrient.unit }} </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let nutrient"> {{ nutrient.value }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

</div>
